.dirstamp
*.cache
*.o
*.user
*.VC.db
*.sdf
*.suo
*.obj
*.pdb
*.lib
*.dll
*.exe
*.stackdump
*.opensdf
*.opendb
*.log
*.tlog
*.log
*.kdev4
*.m4
*.pb.cc
*.pb.h
*.class
depcomp
configure
install-sh
aclocal.am
config.h
confdefs.h
configure.scan
config.status
*Config.h
Makefile
missing
stamp-h1
build/**
**/autom4te.cache/**
**/.deps/**
**/x64/**
**/bin/**
**/linux/**
**/java/**
**/dist/**
compile
CMakeCache.txt
cmake_install.cmake
*.a
*.so
**/CMakeFiles/**
*.cmake
test-driver
!**/example/bin/**
!**/cmake/**
!**/scripts/**
